body{
background: linear-gradient(to bottom, black, #1a0000);
color: gold;
font-family: Georgia;
text-align: center;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container{
border: 2px solid gold;
padding: 30px;
border-radius: 15px;
box-shadow: 0 0 20px gold;
background: rgba(0,0,0,0.7);
}

input{
padding: 10px;
margin: 10px;
border-radius: 5px;
border: none;
}

button{
padding: 10px 20px;
background: gold;
border: none;
cursor: pointer;
font-weight: bold;
}

button:hover{
background: orange;
}