body{
background: linear-gradient(to bottom, black, #1a0000);
color: gold;
font-family: Georgia;
text-align: center;
height: 100vh;
margin: 0;
overflow: hidden;
}

/* Container */
.container{
position: relative;
top: 50%;
transform: translateY(-50%);
border: 2px solid gold;
padding: 30px;
border-radius: 15px;
box-shadow: 0 0 20px gold;
background: rgba(0,0,0,0.7);
width: 400px;
margin: auto;
}

/* Input */
input{
padding: 10px;
margin: 10px;
border-radius: 5px;
border: none;
width: 70%;
}

/* Button */
button{
padding: 10px 20px;
background: gold;
border: none;
cursor: pointer;
font-weight: bold;
border-radius: 5px;
}

button:hover{
background: orange;
box-shadow: 0 0 10px gold;
}

/* Floating objects */
.floating-objects{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
pointer-events: none;
}

.float{
position: absolute;
font-size: 30px;
animation: floatUp linear infinite;
opacity: 0.8;
}

@keyframes floatUp{

0%{
transform: translateY(100vh) rotate(0deg);
opacity: 0;
}

10%{
opacity: 1;
}

90%{
opacity: 1;
}

100%{
transform: translateY(-10vh) rotate(360deg);
opacity: 0;
}

}